@import "font.scss";
@import "reset.scss";

body {
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
#app {
  min-height: 100vh;
}
#wrap {
  min-width: 1024px;
}
.container {
  padding-top: 40px;
  box-sizing: border-box;
  .inner {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px 40px;
  }
}
.bg-gray {
  background: $gray-20;
}
[class^="btn"] {
  display: inline-block;
  padding: 0 15px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  letter-spacing: -0.5px;
  &[class*="sub"] {
    background-color: $mint-20;
    color: $mint-60;
    border-color: $mint-20;
  }
  &[class*="primary"] {
    color: #fff;
    background-color: $mint-50;
    &:active {
      background-color: $mint-30;
    }
    &:disabled,
    &.disabled {
      background-color: $gray-40;
    }
  }
}

[class^="btn"][class*="line"] {
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  &[class*="primary"] {
    border-color: $mint-60;
    color: $mint-60;
  }
  &[class*="gray"] {
    border-color: $gray-40;
    color: #000;
    background: #fff;
  }
  &:active {
    background-color: $gray-20;
  }
}

[class^="btn"][class*="lg"] {
  min-width: 155px;
  height: 50px;
  line-height: 50px;
  border-radius: 15px;
  padding: 0 20px;
  font-size: 16px;
}
[class^="btn"][class*="md"] {
  min-width: 80px;
  height: 44px;
  line-height: 44px;
  border-radius: 10px;
  font-size: 14px;
}
[class^="btn"][class*="sm"] {
  min-width: 75px;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 12px;
}
.area-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  [class^="btn"] {
    & + [class*="btn"] {
      margin-left: 10px;
    }
  }
}

[class^="flag"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid;
  letter-spacing: -0.5px;
  white-space: nowrap;
  + * {
    margin-left: 10px;
  }
  &[class*="sm"] {
    padding: 2px 8px;
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
  }
  &[class*="primary"] {
    background-color: $mint-50;
    border-color: $mint-50;
    color: #fff;
  }
  &[class*="sub"] {
    background-color: $mint-20;
    border-color: $mint-20;
    color: $mint-60;
  }
  &[class*="orange"] {
    background-color: $orange-05;
    border-color: $orange-05;
    color: $orange-50;
  }
}
/* hr */
.wide-gray {
  height: 10px;
  border: none;
  background: $gray-20;
}
.bar {
  position: relative;
  margin-left: 10px;
  padding-left: 11px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background: #eee;
  }
}

//title
.title-h1 {
  font-size: 32px;
  line-height: 40px;
}
.title-h2 {
  font-size: 24px;
  line-height: 30px;
}
.title-h3 {
  font-size: 20px;
  line-height: 28px;
}

//form

.form-search-wrap {
  .form-search {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 10px 0 0;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #eee;
    .search-inner {
      flex: 1 1 auto;
      padding-right: 20px;
      .row {
        display: flex;
        + .row {
          margin-top: 10px;
        }
        [class*="half"] {
          display: flex;
          align-items: center;
          width: 50%;
          + [class*="half"] {
            margin-left: 23px;
          }
        }
        .label {
          width: 80px;
          padding: 12px 0;
          font-size: 14px;
          line-height: 20px;
          color: #444;
          font-weight: bold;
          box-sizing: border-box;
        }
      }
    }
  }
}


.search-detail {
  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    &.ic-search-detail {
      background: url(../images/ic-filter-16.svg) no-repeat center;
    }
    &.ic-ex {
      background-image: url(../images/ic-delete-16.svg);
    }
  }
}

.select-wrap {
  + * {
    flex: 1 1 auto;
    margin-left: 10px;
  }
}
[class^="icon"] {
  display: inline-block;
  text-indent: -9999em;
  &[class*="new"] {
    width: 16px;
    height: 16px;
    background: url(../images/ic-new-16.svg) no-repeat center;
  }
  &[class*="no-data"] {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    background: url(../images/t-image-img-nodata-60.svg) no-repeat center / 60px
      auto;
  }
}


.bullet-list {
  margin-top: 10px;
  .bullet-txt {
    position: relative;
    padding-left: 8px;
    font-size: 12px;
    line-height: 18px;
    color: $gray-60;
    word-break: keep-all;
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 3px;
      height: 3px;
      background-color: $gray-50;
    }
  }
}
.delete-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  background: url(../images/ic-delete-24.svg) no-repeat center;
  text-indent: -9999px;
  font-size: 0;
}
/* table */
.table-top {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .right {
    display: flex;
    align-items: center;
    .select-wrap {
      margin-left: 20px;
    }
  }
}
